{{> head }}


{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est assumenda dolorum hic, alias vero consequatur unde at nihil maiores magnam sint, excepturi beatae. Perferendis dolorum eveniet, natus quibusdam voluptatem impedit?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/desktop-love.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer }}